/**
Theme Name: Continuinged courses child
Author: Continuinged courses
Author URI: https://www.continuingedcourses.net/
Description: A professional theme for the Education and e-Learning sector. Featuring a clean design, intuitive layout, and optimized for course search and registration, providing an excellent user experience.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: continuinged
*/